{% extends "base.html" %}

{% block content %}
<h2>{{ book.title }}</h2>

<p><strong>Authors:</strong> {{ book.authors|join:", " }}</p>

{% if book.covers %}
    <div style="display:flex; gap:10px; flex-wrap:wrap;">
        {% for cover in book.covers %}
            <img src="{{ cover }}" style="height:300px; border-radius:6px;">
        {% endfor %}
    </div>
{% endif %}

{% if avg_rating %}
<p>⭐ Ortalama Puan: {{ avg_rating|floatformat:1 }}/5</p>
{% else %}
<p>Henüz puan yok</p>
{% endif %}

{% if user.is_authenticated %}
<form method="POST">
    {% csrf_token %}

    <div class="star-rating">
        <input type="radio" name="rating" value="5" id="star5"><label for="star5">★</label>
        <input type="radio" name="rating" value="4" id="star4"><label for="star4">★</label>
        <input type="radio" name="rating" value="3" id="star3"><label for="star3">★</label>
        <input type="radio" name="rating" value="2" id="star2"><label for="star2">★</label>
        <input type="radio" name="rating" value="1" id="star1"><label for="star1">★</label>
    </div>

    <br><br>

    <label>Yorum:</label><br>
    <textarea name="comment" style="
        width:100%;
        background:#1e1e1e;
        color:white;
        border:1px solid #444;
        border-radius:8px;
        padding:10px;
        resize:vertical;
    "></textarea>

    <button type="submit">Submit</button>
</form>
{% else %}
<p>Yorum yapmak için giriş yapmalısın.</p>
{% endif %}



{% if book.description %}
    <h3>Description</h3>
    <p>{{ book.description }}</p>
{% else %}
    <p>No description available.</p>
{% endif %}

<h3>Yorumlar</h3>

{% for review in reviews %}
<div style="margin-bottom:15px; padding:10px; background:#222; border-radius:8px;">
    <strong>{{ review.user.username }}</strong>
    <p>⭐ {{ review.rating }}/5</p>
    <p>{{ review.comment }}</p>
</div>
{% empty %}
<p>Henüz yorum yok.</p>
{% endfor %}

<a href="{% url 'search' %}?q=">Back to search</a>
{% endblock %}