{% extends 'base.html' %}

{% block content %}
<h1>Profile</h1>

<div style="background:#1e1e1e; padding:20px; border-radius:10px;">
    <h2>{{ user.username }}</h2>
    <p>{{ user.email }}</p>
</div>

<!-- Link gibi create account -->
<p style="margin-top: 1rem; text-align:center;">

    <a href="{% url 'logout' %}" style="
        width: 100%;
        padding: 0.6rem;
        border-radius: 0.5rem;
        border: none;
        background-color: #3b82f6;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
    ">
        Logout
    </a>
</p>
{% endblock %}